<!DOCTYPE html>
<html>
  <%- include("./layout/head") %> 
  <body>
    <%- include("./layout/nav") %> 
    <div class="p-5">
        <h1>RENDER POINT</h1>
        <form action="/getcash" method="post">
          <input type="text" id="moneyinput" name="moneyinput" placeholder="Type in the cash you want">
          <button type="submit">Input</button>
        </form>
    </div>
</body>
</html>